<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pgyl.lceb_a">

    <application
        android:icon="@drawable/app_icon"
        android:label="LCEB"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.pgyl.lceb_a.MainActivity"
            android:label="LCEB"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pgyl.pekislib_a.InputButtonsActivity"
            android:label="InputButtonsActivity" />
        <activity
            android:name="com.example.pgyl.pekislib_a.HelpActivity"
            android:label="HelpActivity" />
    </application>
</manifest>
